In [ ]:
##user input

name = input("What is your name?")
print("Hello " + name)

Hello Sonu

In [ ]:
## Type conversion

old_age = input("enter your old age : ")
new_age = int(old_age) + 1
print(new_age)

21

In [4]:
number = 17
print(float(number))

17.0

In [5]:
#sum 
first = input("Enter first number : ")
second = input("Enter second number : ")
sum = int(first) + int(second)
print(sum)

10

In [2]:
##Strings -- UPPERCASE

name = "Tony Stark"
print(name.upper())
print(name)

TONY STARK
Tony Stark

In [3]:
##lowercase

name = "Sonu Shersiya"
print(name.lower())
print(name)

sonu shersiya
Sonu Shersiya

In [ ]:
##substring

name = "Sonu Shersiya"
print(name.find('Sh'))
print(name.find('o'))

5
1

In [9]:
##replace 
name = "Tony Stark"

print(name.replace("Stark", "Ironman"))

print(name)

Tony Ironman
Tony Stark

In [13]:
##keywords
name = "Tony Stark"
print('T' in name)
print('v' in name)
print('Stark' in name)
print('Ironman' in name)

True
False
True
False

In [ ]:
##Airthmetic Operators

print(5 + 4)                     ##Addition
print(5 - 4)                     ##Subtraction
print(5 * 4)                     ##Multiplication
print(5 / 4)                     ##Division
print(5 % 2)                     ##Remainder operator
print(5 ** 2)                    ##Power  operator

9
1
20
1.25
1
25

In [24]:
i = 5
i = i + 2
i += 2
i -= 2
i *= 2
print(i)

14

In [ ]:
##operator precedance --- acc. to BODMAS rule

result = 2 + 3 * 5
print(result)

17

In [33]:
##comparison operator
print(3 > 2)
print(3 < 2)
print(3 <= 2)
print(3 >= 2)
print(3 == 3)
print(3 != 2)

True
False
False
True
True
True

In [ ]:
##logical opeerator
print(2 > 3 or 2 > 1)              # OR 
print(6 > 3 and 2 > 1)             # AND
print(not 2 > 3)                   # NOT

True
True
True

In [41]:
#if else statements
age = 15

if age >= 18:
    print("you are an adult")
    print("you can vote")

elif age < 18 and age > 3:
    print("you are in school")

else:
    print("you are a kid")


print("thank you")

you are in school
thank you

In [1]:
#range

numbers = range(5)
print(numbers)

range(0, 5)

In [2]:
##loop

#while

i = 1
while i <= 5:
    print(i)
    i = i + 1

1
2
3
4
5

In [3]:
i = 1 
while i <= 5:
    print(i * "*")
    i = i + 1

*
**
***
****
*****

In [6]:
i = 5 
while i >= 0:
    print(i * "*")
    i = i - 1

*****
****
***
**
*

In [7]:
##for loops
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
##List -- Collection of items
marks = [96, 95, 98]
print(marks)
print(marks[0])
print(marks[-2])
print(marks[0:2])
print(marks[1:3])

[96, 95, 98]
96
95
[96, 95]
[95, 98]

In [6]:
marks = [96, 95, 98]
for score in marks:
    print(score)

96
95
98

In [7]:
marks = [96, 95, 98]
marks.append(99)
print(marks)

[96, 95, 98, 99]

In [8]:
marks = [96, 95, 98]
marks.insert(0, 99)
print(marks)

[99, 96, 95, 98]

In [9]:
marks = [96, 95, 98]
marks.append(99)
print(len(marks))

4

In [12]:
marks = [96, 95, 98]

i = 0
while i < len(marks):
    print(marks[i])
    i = i + 1

marks.clear()
print(marks)

96
95
98
[]

In [14]:
##break and continue
students = ["ram", "shyam", "radha", "sonu", "monu"]

for student in students:
    if student == "monu":
        break;
    print(student)

ram
shyam
radha
sonu

In [15]:
students = ["ram", "shyam", "radha", "sonu", "monu"]
for student in students:
    if student == "radha":
        continue;
    print(student)

ram
shyam
sonu
monu

In [17]:
##tuple --- imutable
marks =  (95, 85, 96, 96)

print(marks.count(96))
print(marks.index(85))

2
1

In [20]:
##sets
marks = {95, 85, 96, 96}

print(marks)

{96, 85, 95}

In [21]:
marks = {95, 85, 96, 96}

for score in marks:
    print(score)

96
85
95

In [24]:
##Dictionary

marks = {"english" : 95, "chemistry" : 96}

print(marks["chemistry"])

marks["physics"] = 93;
print(marks)

96
{'english': 95, 'chemistry': 96, 'physics': 93}

In [25]:
##functions

import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [27]:
from math import sqrt
print(sqrt(16))

4.0

In [28]:
from math import *
print(sqrt(4))

2.0

In [29]:
##user defined functions

 ##
 # def function_name(parameters):

In [30]:
def print_sum(first, second):
    print(first + second)

print_sum(1, 2)

3